form{
    padding: 5px;
}

.col-md-6>.list-group .list-group-item:hover{
    cursor: pointer;
    color: #721c24;
    background-color: #f5c6cb;
    border-color: #f5c6cb;
}
.col-md-6>.list-group .list-group-item:hover .inner-list .list-group-item {
    cursor: pointer;
    color: #721c24;
    background-color: #f5c6cb;
    border-color: #f5c6cb;
}
.col-md-6>.list-group .list-group-item:hover .inner-list .list-group-item:hover {
    cursor: pointer;
    color: #684f04;
    background-color: #f8d66f;
    border-color: #a5997489;
}

.userNameSpan:hover{
    color: gray;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#userBooks{
    margin-top: 10px;
    margin-bottom: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

footer {
    margin-top: 100px;
}
  